## Deliverable 2. Create a Customer Travel Destinations Map.

In [17]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [18]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Upernavik,GL,2022-08-25 00:11:51,72.7868,-56.1549,40.86,82,64,10.40,broken clouds
1,1,Ushuaia,AR,2022-08-25 00:16:43,-54.8000,-68.3000,42.46,42,20,11.50,few clouds
2,2,Cabo San Lucas,MX,2022-08-25 00:12:27,22.8909,-109.9124,91.18,62,20,19.57,few clouds
3,3,Penzance,GB,2022-08-25 00:16:44,50.1186,-5.5371,59.68,72,100,14.61,overcast clouds
4,4,Krasnoselkup,RU,2022-08-25 00:16:45,65.7000,82.4667,51.51,82,18,19.10,few clouds

In [19]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 65
What is the maximum temperature you would like for your trip? 90

In [20]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kavieng,PG,2022-08-25 00:16:45,-2.5744,150.7967,82.98,73,29,5.75,scattered clouds
6,6,Victoria,HK,2022-08-25 00:15:10,22.2855,114.1577,82.45,92,92,14.00,light rain
9,9,Rikitea,PF,2022-08-25 00:16:47,-23.1203,-134.9692,69.21,66,80,16.89,broken clouds
11,11,Nikolskoye,RU,2022-08-25 00:16:48,59.7035,30.7861,72.91,60,87,5.23,light rain
13,13,Hilo,US,2022-08-25 00:15:56,19.7297,-155.0900,87.28,72,75,11.50,broken clouds
17,17,Bien Hoa,VN,2022-08-25 00:13:41,10.9500,106.8167,76.98,88,100,3.71,light rain
19,19,Hasaki,JP,2022-08-25 00:16:51,35.7333,140.8333,79.29,79,76,11.50,broken clouds
21,21,Mana,GF,2022-08-25 00:16:52,5.6592,-53.7767,76.19,86,73,4.18,broken clouds
22,22,Jamestown,US,2022-08-25 00:07:42,42.0970,-79.2353,73.04,72,0,4.61,clear sky
23,23,Yellowknife,CA,2022-08-25 00:16:53,62.4560,-114.3525,68.52,56,75,6.91,smoke

In [21]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                428
City                   428
Country                428
Date                   428
Lat                    428
Lng                    428
Max Temp               428
Humidity               428
Cloudiness             428
Wind Speed             428
Current Description    428
dtype: int64

In [22]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_preferred_cities_df = preferred_cities_df.dropna(axis="index", how="any")
print(len(clean_preferred_cities_df))
clean_preferred_cities_df.head()

428

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
5,5,Kavieng,PG,2022-08-25 00:16:45,-2.5744,150.7967,82.98,73,29,5.75,scattered clouds
6,6,Victoria,HK,2022-08-25 00:15:10,22.2855,114.1577,82.45,92,92,14.00,light rain
9,9,Rikitea,PF,2022-08-25 00:16:47,-23.1203,-134.9692,69.21,66,80,16.89,broken clouds
11,11,Nikolskoye,RU,2022-08-25 00:16:48,59.7035,30.7861,72.91,60,87,5.23,light rain
13,13,Hilo,US,2022-08-25 00:15:56,19.7297,-155.0900,87.28,72,75,11.50,broken clouds

In [23]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kavieng,PG,82.98,scattered clouds,-2.5744,150.7967,
6,Victoria,HK,82.45,light rain,22.2855,114.1577,
9,Rikitea,PF,69.21,broken clouds,-23.1203,-134.9692,
11,Nikolskoye,RU,72.91,light rain,59.7035,30.7861,
13,Hilo,US,87.28,broken clouds,19.7297,-155.0900,
17,Bien Hoa,VN,76.98,light rain,10.9500,106.8167,
19,Hasaki,JP,79.29,broken clouds,35.7333,140.8333,
21,Mana,GF,76.19,broken clouds,5.6592,-53.7767,
22,Jamestown,US,73.04,clear sky,42.0970,-79.2353,
23,Yellowknife,CA,68.52,smoke,62.4560,-114.3525,

In [24]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.dropna(axis="index", how="any")
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
5,Kavieng,PG,82.98,scattered clouds,-2.5744,150.7967,Nusa Island Retreat
6,Victoria,HK,82.45,light rain,22.2855,114.1577,Mini Central
9,Rikitea,PF,69.21,broken clouds,-23.1203,-134.9692,People ThankYou
11,Nikolskoye,RU,72.91,light rain,59.7035,30.7861,Tourist House - Sablino
13,Hilo,US,87.28,broken clouds,19.7297,-155.0900,Hilo Hawaiian Hotel
17,Bien Hoa,VN,76.98,light rain,10.9500,106.8167,OYO 991 Duy Anh Hotel
19,Hasaki,JP,79.29,broken clouds,35.7333,140.8333,Inubosaki Kanko Hotel
21,Mana,GF,76.19,broken clouds,5.6592,-53.7767,LE SAMANA
22,Jamestown,US,73.04,clear sky,42.0970,-79.2353,Hampton Inn & Suites Jamestown
23,Yellowknife,CA,68.52,smoke,62.4560,-114.3525,The Explorer Hotel

In [26]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [27]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [28]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))